<%- include("navbar") %>
    <link rel="stylesheet" href="/css/home.css">
    <section id='home'>
        <div id='block'>
        <h2 id='mheading'>Spilitify</h2>
        <h3 id='sbheading'>Split your bills </h3>
    </div>
    </section>


    <section id='about' >
            <h2 class='heading'>About Us</h2>
            <p>
                Splitify is a platform for you to create groups for various trips,outings,etc, and split 
                the costs equally among your firends/peers which you can add to your group
            </p>
    </section>