*{
    color:white;
}

body{
 background-color: rgb(23, 23, 26);
 background-image: url("/images/bg.jpg");
  margin: 0;
  padding: 0;
  background-position: top;
  font-family: sans-serif;
  animation: animatedBackground 5s ease-in-out infinite ;
}

@keyframes animatedBackground {
  from {
    background-position: 83% 0;
  }
  to {
    background-position: 0 83%;
  }
}

.login-box{
    margin:5% auto;
    width: 320px;
    height: 24em;
    color: white;
    background-color: rgb(50, 53, 70);
    border-radius: 15px;
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 3px solid rgb(251, 251, 255);
  margin-bottom: 50px;
  padding: 13px 16px;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 11px;
  margin: 11px 0;

}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  border-bottom: 1px solid rgb(251, 251, 255);
}
.btn{
  width: 35%;
  background: none;
  border: 2px solid rgb(251, 251, 255);
  color: white;
  padding: 7px;
  margin-left: 7.5em;
}
